################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/BasicUtility/obj
/BasicUtility/bin/Debug/netstandard2.0
/BasicUtility.Test/bin/Debug/netcoreapp2.0
/BasicUtility.Test/obj
/packages
